.abtus{
    margin: auto;
    margin-left:1000px;
}
.abt{
    margin: auto;
    margin-left: 1000px;
}
.abtus1{
    display: block;
    margin: auto;
    margin-left: 100px;
    margin-right: 700px;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}