.card{
    display:block;
    font-size: 15px;
    padding:20px;
    box-sizing: border-box;
    height: fit-content;
    background-image:url('/images/card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Noto Sans', sans-serif;
    margin: auto;
    width: 30%;
    color: #ffffff;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 25px;
}
.cardno{
    letter-spacing: 2px;
}
.update{
    background-color: #02b62c;
    color: #ffffff;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
}
.update:hover{
    background-color: #74dc4e;
    color: #ffffff;
    
}
.delete{
    background-color: #8e0404;
    color: #ffffff;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 5px;
}
.delete:hover{
    background-color: #ff0000;
    color: #ffffff;
    
}
.cardDLT{
    display:block;
    font-size: 15px;
    padding:20px;
    box-sizing: border-box;
    height: fit-content;
    background-color: #1a1a1a;
   
   
    font-family:'Noto Sans', sans-serif;
    margin: auto;
    width: 30%;
    color: #ffffff;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 40px;
}
